body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
    background-color: black;
    color: white;
}

#canvas {
    border:none;
    border-radius: 16px;
    object-fit: cover;
    width: 70%;
    height: 70%;
    cursor: crosshair;
    -webkit-box-shadow: 10px 10px 89px -18px rgba(250, 250, 250, 1);
        -moz-box-shadow: 10px 10px 89px -18px rgba(250, 250, 250, 1);
        box-shadow: 10px 10px 89px -18px rgba(250, 250, 250, 1);
}

#lens-container {
    position: absolute;
    width: 100px;
    height: 100px;
    overflow: hidden;
    display: none;
}

#lens {
    width: 100%;
    height: 100%;
}

#colorCode {
    margin-top: 20px;
    font-size: 1.5em;
}

#savedColor {
    margin-top: 20px;
    font-size: 1em;
    padding: 5px;
}
.copy{
    padding: 9px;
    background-color: rgb(223, 10, 10);
    border-radius: 5px;
}